name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  code-test:
    if: '!contains(github.event.head_commit.message, ''skip-ci'')'

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, 24.x]

    runs-on: ${{ matrix.os }}

    name: Code Test

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache pnpm store
        uses: actions/cache@v5
        env:
          cache-name: cache-pnpm-store
        with:
          path: ${{ github.workspace }}/.pnpm-store
          key: ${{ runner.os }}-${{ matrix.node-version }}-${{ env.cache-name }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-${{ env.cache-name }}-
            ${{ runner.os }}-${{ matrix.node-version }}-
            ${{ runner.os }}-

      - name: Install pnpm
        run: npm i -g pnpm

      - name: Set pnpm store path
        run: pnpm config set store-dir .pnpm-store

      - name: Install deps
        run: pnpm i

      - name: Build and Test
        run: pnpm build && pnpm test

  action-test:
    needs: [code-test]

    runs-on: ubuntu-latest

    name: Action Test

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check the updates of upstream npm dependencies
        uses: ./ # Uses an action in the root directory
        id: ncu
        with:
          upstream: '@actions/core,npm-check-updates'
          ncu-options: '{"workspaces": true}'
          check-only: true
          all: true

      - name: Get Outputs
        run: |
          echo "need-update: ${{ steps.ncu.outputs.need-update }}"
          echo "dependencies: ${{ steps.ncu.outputs.dependencies }}"
